<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>hello. This project is a sample web project to test argocd.</h1>
    <h3>version : 1.4</h3>
    <span>user : </span> <span th:text="${username}">username</span>
    <br>
    <span>env : </span> <span th:text="${profile}">profile</span>
</body>
</html>